/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Main content styles */
main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* Chat section styles */
#chat {
    display: flex;
    flex-direction: column;
    flex: 1; /* Occupy the available space */
    height: 83vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}

#chat h2 {
    margin-bottom: 0.5rem;
}

/* Form styles for chat input */
#chat-form {
    display: flex;
    align-items: center;
    margin-top: auto;
}

#chat-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#chat-send-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

/* Styles for chat messages */
.chat-message {
    background-color: #e5e5e5;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    margin-top: 1rem;
}

/* User avatar styles */
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* Task board section styles */
#task-board {
    flex: 2; /* Adjust the ratio as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}

#task-category {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

/* Styles for Kanban board tasks */
.tasks {
    background-color: #e5e5e5;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    border-radius: 4px;
}
